@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-variation-settings: 'wdth' 115;

}

.wrapper {
  padding: 2rem;
  justify-content: space-evenly;
  width: 100%;
}
