@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-variation-settings: 'wdth' 115;
}

div::selection {
  color: white;
  background-color: rgb(73, 185, 131);
}

div>p::selection {
  color: white;
  background-color: rgb(73, 185, 131);
}

.wrapper {
  padding: 2rem;
  justify-content: space-evenly;
  width: 100%;
}

.bg {
  background-image: url('/personal/eteyen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url('/food.png');
  background-size: cover;
  background-position: center;
}

@keyframes slideOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-out-up {
  animation: slideOutUp 0.2s forwards;
}

.slide-in-up {
  animation: slideInUp 0.2s forwards;
}

.heavy-weight {
  font-weight: 900;
}