.logo {
    font-weight: 900;
}

.bg {
    background-image: url('/balloons.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(400px, 20rem));
    grid-gap: 10px;
    margin-left: 5rem;
}

@media (max-width: 640px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill,
                minmax(100px, 40rem));
        grid-gap: 12px;
        margin-top: 2rem;
    }
}