.btngroup {
    color: #343434;
    margin-top: 2rem;
}

.site-header {
    width: 100%;
}

.logo {
    font-weight: 900;
}

.bg {
    background-image: url('/food.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.6rem;
}
